<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.worldtreeinc.leaves" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_secret" />


        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetStartedActivity"
            android:label="@string/title_activity_get_started" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/welcome_activity_label" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".RoleOptionActivity"
            android:label="@string/title_activity_role_option" >
        </activity>
        <activity
            android:name=".BidderDashActivity"
            android:label="@string/title_activity_bidder_dash" >
        </activity>
        <activity
            android:name=".PlannerDashActivity"
            android:label="@string/title_activity_planner_dash"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.worldtreeinc.leaves.MainActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".WelcomeActivity" >
        </activity>

        <activity
            android:name=".PlannerEventActivity"
            android:label="@string/title_activity_planner_event" >
        </activity>
        <activity
            android:name=".CreateEventActivity"
            android:label="@string/title_activity_create_event" >
        <activity
            android:name=".EventDetailsActivity"
            android:label="@string/title_activity_event_details"
            android:parentActivityName=".PlannerEventActivity">

        </activity>

        <activity
            android:name=".PlannerEventActivity"
            android:label="@string/title_activity_planner_event" >
        </activity>


    </application>

</manifest>
